<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Users Management</title>
</head>
<body>
    <div class="container">
        <main role="main">
            <span class="success">@TempData["Success"]</span>
            <span class="error">@TempData["Error"]</span>

            @RenderBody()
        </main>
    </div>
</body>
</html>